<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myworkproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWorkProject">
        <activity android:name=".CalEditActivity"></activity>
        <activity android:name=".PayActivity" />
        <activity
            android:name=".CalActivity"
            android:label="@string/title_activity_cal"
            android:theme="@style/Theme.MyWorkProject.NoActionBar" />
        <activity android:name=".DepartmentActivity" />
        <activity android:name=".MainEditActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>